@font-face {
	font-family: 'Trajan';
	src: url(../font/Trajan\ Pro\ Bold.ttf);
}

@font-face {
	font-family: 'Roboto';
	src: url(../font/Roboto-Light.ttf);
}

@font-face {
  font-family: 'chatter';
  src: url("../font/chatter.eot");
  src: url("../font/chatter.eot?#iefix") format("embedded-opentype"), url("../font/chatter.woff") format("woff"), url("../font/chatter.ttf") format("truetype"), url("../font/chatter.svg#chatter") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
	background-image:url(../img/background_2.png);
	background-size: cover;
	#position: absolute;
	background-repeat: no-repeat;
	width: 100%;
}
.table-responsive{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40%;
	padding-right: 40%;
	padding-top:10%;
	color: #DBB667;
	font-family: Trajan;
}
#userpage{
	padding-top:10%;
	color: #DBB667;
	font-family: Trajan;
	max-width: 50%;
	padding-left: 25%;
}
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

#header {
	grid-area: header;
	background-color: #ffffff00;
}

/* The navigation bar */
.navbar {
	overflow: hidden;
	background-color: #0000;
	#position: absolute; /* Set the navbar to fixed position */
	#top: 0; /* Position the navbar at the top of the page */
	#width: 100%; /* Full width */
}

/* Links inside the navbar */
.nav-item {
	float: right;
	color: #000;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: Trajan;
}
.topnav .icon {
  display: none;
}
/* Change background on mouse-over */
.navbar a:hover {
	color: #a2a2a2;
}
input{
	background-image: url(../img/input.png);
	background-size: 100% 100%;
	line-height: normal;
	height:35px;
}
::placeholder{
	color: #DBB667;
	font-family: Trajan;
	text-decoration: none;
	font-size: 0.9em;
	white-space: nowrap;
}
#rememberfield{
	color: #DBB667;
	font-family: Trajan;
}
[type="checkbox"]
{
    vertical-align:middle;
}
.inputText{
	color: #DBB667;
	font-family: Trajan;
	text-decoration: none;
	font-size: 1.6em;
	white-space: nowrap;
	padding-left: 8px;
}

#right-sidebar {
	grid-area: rsidebar;
	background-color: #0000;
	width: 20px;
}

#left-sidebar {
	background-color: #0000;
	grid-area: lsidebar;
	width: 20px;
}

#info-nav-left{
	padding-top:48.1%;
	padding-left:10%;
	position:absolute;
}

#info-nav-left a {
	color: #fff;
	padding: 14px 8px;
	text-decoration: none;
	font-family: Trajan;
}

#info-nav-left a:hover {
	color: #a2a2a2;
}

#info-nav-right{
	padding-top:48.1%;
	padding-left:58.5%;
	position:absolute;
}

#info-nav-right a {
	color: #fff;
	padding: 14px 8px;
	text-decoration: none;
	font-family: Trajan;
}

#info-nav-right a:hover {
	color: #a2a2a2;
}

#regi-img {
	padding-top: 95%;
	padding-left: 13.5%;
}

#regi-text {
	color: #fff;
	font-family: Roboto;
	padding-left: 7%;
	padding-right: 55%;
	padding-top: 3%;
}

#regi-btn {
	padding-top: 7%;
	padding-left: 65%;
}

#wrapper {
	display: flex;
	flex-direction: column;
}
#download-btn {
	padding-top: 33%;
	padding-left: 40%;
}
.row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	padding-top: 10%;
}
.col {
	margin: 5px;
	text-align: center;
	flex: 1 1 auto;
}
#info-left, #info-right {
	background-image: url(../img/info.png);
	background-size: 100% 100%;
}
.info-titel{
	padding-top: 7%;
}
.info-text{
	padding-top: 4%;
	min-height: 420px;
}
#register-text{
	float:left;
	max-width: 600px;
	color:white;
	padding-left: 10%;
	padding-top: 22%;
}
.form-group{
	padding-left: 18%;
	padding-top: 6%;
	display: flex;
}

.form-group2{
	padding-left: 10%;
	padding-top: 2%;
}
#registerBtn{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
	outline:none;
}
	
#register-form{
	float: right;
	padding-right: 20%;
	padding-top: 15%;
}

#loginModalBtn2{
	padding-left: 10%;
	padding-top: 10%;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
	outline:none;
	width: 90%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-image: url(../img/Login-background.png);
  background-size: 100% 100%;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 240px; /* Could be more or less, depending on screen size */
}
.input-field{
	width: 90%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#genPassBtn{
	border-style: solid;
	border-width: 2px;
	border-color:black;
	width: auto;
	background-color: white;
	height: auto;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
	padding-right: 5%;
	font-weight: bold;
	color:#DBB667;
	font-size: 25px;
  }
  #landing-container{
	display: none;
  }
  #register-text{
	display: none;
  }

}

@media screen and (max-width: 600px) {
  .topnav.responsive {
	  position: relative;
	  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
	padding-right: 5%;
	padding-top: 5%;
	color: #DBB667;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
	color: #DBB667;
  }
  #download-btn{
	padding-top: 36%;
	padding-left: 15%;
  }
  #register-form{
	float: left;
	padding-right: 20%;
	padding-top: 15%;
  }
  body{
	  #background-image:url(../img/background_small.png);
	  #background-size: contain;
  }
  .inputText{
	  white-space:normal;
	  font-size: 1.0em;
  }

}

@media screen and (max-width: 450px) {
	#download-btn{
		padding-top: 30%;
		padding-right: 20%;
	}
	#register-form{
		max-width: 50%;
		padding-top: 10%;
	}
	img{
		max-width: 100%;
	}
	.inputText{
	  font-size: 0.7em;
	}
  }
}